body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  hr {
    margin: 20px 0;
  }
  